:root {
    --primary-color: #7e0606;
    --secondary-color: #2f0363;
    --third-color: #2c8ce6;
}

* {
    /*margin: 0;
    padding: 0;
    box-sizing: border-box;*/
}

.button {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color:white;
    border-color: var(--third-color);
}

.button:hover {
    background-color:var(--secondary-color);
    color: white;
    border-radius: 20px;
    border-color: var(--third-color);
}